
<h3>Your current wait time is: 5h and 30 minutes </h3>

<h2>Great news!</h2>


<p>
    <h3>Your wait time could be a lot quicker</h3>
</p>
<p>You can speed up your wait by being seen at an Accident and Emergency Centre.</p>
<p>We will put you in the wait queue straight away and you will get priority service.
We can order your a free trip in an Uber and get you taken straight over.
There will be a $40 charge for a consultation at the Health Centre but we may be able to help you out with that cost.</p>
<a class="btn btn-lg btn-primary" href="/inEd/moveme">Wahoo! Move me now!</a>
<br />
<br />
<p>
    You are welcome to wait at the Emergency Department but you will have a <b>5</b> hour and <b>30</b> minute wait.
</p>
<a class="btn btn-lg btn-primary" href="/inEd/LikeWaiting">It's OK- I like waiting</a>
