<h2>Injury Information</h2>
<p>While you're waiting would you mind telling us a bit about your condition?</p>


<form class="form-horizontal">

    <div class="form-group">
        <div class="col-md-2">
            <label>Are you injured?</label>
        </div>
        <div class="col-md-10">
            <input type="checkbox" class="checkbox-inline" />
        </div>
    </div>
    @*<div class="form-group">
        <div class="col-md-12">
            <label>Please click the picture where it hurts</label>
        </div>
        <div class="p-20">
            <img src="/Content/img/outline-body.png" style="width: 260px; float: none" />
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-2">
            <label>Where were you when you hurt yourself?</label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label>How did you hurt yourself?</label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="p-20">
        <a href="" class="btn btn-lg btn-primary">Submit</a>
    </div>
</form>