<h2>Confirmation</h2>
<p>Great! The medical centre knows that you are on your way and you have been added to the queue.</p>
<p>If you change your mind please phone the medical centre <a href=''>03 356 478</a> and cancel your appointment.</p>
