<h2>Nice One!</h2>
<h3>Your new wait time at Moorhouse Medical Centre is 1 hour and 30 minutes</h3>
<br/>
<p>
    Please tell us a bit about yourself so we can speed things up for you
</p>

<form-group>
    <label>First Name</label>
    <input type="text" class="form-control"/>
</form-group>
<form-group>
    <label>Last Name</label>
    <input type="text" class="form-control"/>
</form-group>
<form-group>
    <label>Date of Birth</label>
    <input type="date" class="form-control" />
</form-group>
<form-group>
    <label>What's the problem?</label>
    <textarea class="form-control"></textarea>
</form-group>

<br/>
<p>
    If you have signed into ED please tell them that you are transferring.
</p>

<p>How would you like to get there?</p>
<a class="btn btn-lg btn-primary" href="/ined/drivemyself">I'll drive myself thanks</a>
<br/>
<br />
<a class="btn btn-lg btn-primary" href="/ined/uber">Call me a free ride</a>
