<h2>Emergency Department</h2>
<p>
    <h3>Your current wait time is: 5h and 30 minutes </h3></p>
<p>Welcome to the Christchurch Hospital ED</p>
<p>You can speed up your waiting time by telling us why you are here:</p>
<br/>
<a href="/ined/canmove" class="btn btn-lg btn-primary">I have a limb injury</a>
<br/>
<br />
<a href="/ined/canmove"  class="btn btn-lg btn-primary">I have a minor wound</a>
<br />
<br/>
<a  href="/ined/canmove" class="btn btn-lg btn-primary">I have a cold or flu</a>
<br />
<br />
<a  href="/ined/stay"  class="btn btn-lg btn-primary">None of the above</a>
