<h2>Check In</h2>
<p>With your condition we think you should be seen by the Emergency Department staff</p>
<br/>
<p>If you haven't yet checked into the Emergency Department please see the admission staff.</p>