<h2>Order me an Uber</h2>
<p>We can have an Uber to you in 5 minutes.</p>
<p>Click confirm and head to the lobby for your pick up!</p>
<a class="btn btn-lg btn-primary" href="/ined/likewaiting">Confirm</a>
