<h2>Your GP</h2>
<p>Your nearest GP that is taking on new patient is the St Albans Medical Centre.</p>
<p>If you like ee will arrange for one of their staff to give you a call and sign you up.</p>
<label>St Albans Medical Centre</label><br/>
<label>Phone: 03 356 478</label><br/>
<a href="">Map</a>
<div>
    <button class="btn btn-lg btn-primary">Sign me up!</button>
</div>
<br/>
<br />
<div>
    <button class="btn btn-lg btn-primary">Not now thanks</button>
</div>


