<h2>Register</h2>
<p>Hi John, hope you're feeling better!</p>
<p>In order to ensure your on-going health care we'd like to make sure that you have a GP to look after you.<p>
<div>
    <a class="btn btn-lg btn-primary" href="/feedback/findGP">Yes! Please find me a GP</a>
</div>
<br/>
    <br/>
<div>
    <button class="btn btn-lg btn-primary">No thanks I already have one</button>
</div>