<h2>Feedback</h2>
<p>Thanks for using ED Check-In!</p>
<p>Give us some feedback on how you found the experience and we'll put you in the draw to win a care pack!</p>
<div class="form-group">
    <label>How long did you wait for care?</label><br />
    <input type="text" class="form-control"/>
</div>
<br />
<div class="form-group">
    <label>How likely are you to recommend us to friends and colleagues? (0 being not likely and 10 being very likely)</label><br />
    <input type="number"  class="form-control"/>
</div>
<br />
<div class="form-group">
    <label>Can you tell us why you gave us this score?</label><br />
    <textarea class="form-control"></textarea>
</div>
<br />
<div>
    <button class="btn btn-lg btn-primary">Submit</button>
</div>